
/* ------ Navbar CSS ------ */

body {
    margin: 0;
}

.navbar-brand {
    position: absolute;
    width: 15%;
    right: 10%;
    left: 10%;
    top: 20px;
   
    text-align: center;
    margin:0 auto;

    font-family: Stolzl;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;

    color: #777474;
    text-decoration: none;
}

.navbar-brand:hover { 
    color: #ABABAB;
}

#projects-tab,
#about-tab {
    
    font-family: Cresta;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    text-decoration: none;

    color: #000000;
}

#projects-tab {
    position: absolute;
    left: 17.5%;
    top: 30px
}

#projects-tab:hover { 
    color: #ABABAB;
}

#about-tab {
    position: absolute;
    left: 80%;
    top: 30px
}

#about-tab:hover { 
    color: #ABABAB;
}

hr {
    position: absolute;
    width: 80%;
    right: 10%;
    left: 10%;
    top: 90px;
   
    margin:0 auto;

    border: 0.5px solid #777474;
}

/* ------------------------ */




/* ------ Projects CSS ------ */

#firstImg {
    margin-top: 120px;
}

#img {
    width: 950px;
    margin-left: 250px;
    margin-top: 40px;
}

#lastImg {
    margin-bottom: 100px;
}

h4 {
    font-family: Stolzl;
    font-style: normal;
    font-weight: 500;

    color: #777474;
}

h6 {
    font-family: Cresta;
    font-style: normal;
    font-weight: 300;

    color: #777474; 
}

.hvrbox * {
	box-sizing: border-box;
}

.hvrbox {
    position: relative;
    width: 950px;
}

.hvrbox img {
    width: 950px;
}

.hvrbox .hvrbox-layer_bottom {
	display: block;
}

.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 26.3%;
	right: 0;
	bottom: 0;
    width: 100%;
	color: #fff;
    transition: all 0.4s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}

.hvrbox .hvrbox-text {
	text-align: left;
    font-size: 17px;
    line-height: 30px;

    color: #777474; 
	display: inline-block;
	position: absolute;
	top: 30px;
    left: 30px;
    
}

.short-text { 
    display: none; 
}

/* ------------------------ */




/* ------ About CSS ------ */

#hello-text {
    position: absolute;
    left: 25px; 

    font-family: Stolzl;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 90px;

    color: #EEEEEE;
}

#header-text {
    position: absolute;
    left: 25px; 

    font-family: Stolzl;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 90px;

    color: #EEEEEE;
}

#title-text {
    position: absolute;
    top: 25px;
    
    font-family: Cresta;
    font-style: normal;
    font-weight: 100;
    font-size: 25px;
    line-height: 41px;
    
    color: #000000;
}

.container {
    width: 960px;
    margin-top: 130px;
}

p {
    position: absolute;
    top: 120px;

    font-family: Cresta;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;

    color: #777474;
}

#secondLine {
    position: absolute;
    top: 550px;
}

#skills {
    margin-top: 350px;

    font-family: Stolzl;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 31px;

    color: #777474;
}

#contact {
    margin-top: 530px;

    font-family: Stolzl;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 31px;

    color: #777474;
}

#skills-text {
    margin-top: 270px;
}

#resume-text {
    position: absolute;
    top: 120px;

    font-family: Cresta;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    text-decoration: none;

    color: #777474;
    margin-top: 330px;
    font-weight: 500;
}

#resume-text:hover { 
    color: #ABABAB;
}

#contact-text {
    margin-top: 460px;
}

#profile-pic {
    margin-top: 120px;
    width: 590px;
    margin-bottom: 50px;
}

#email {
    font-family: Stolzl;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 31px;
    text-decoration: none;

    color: #777474;
}

#email:hover { 
    color: #ABABAB;
}

#icons {
    margin-top: 240px;
}

#email-icon,
#insta-icon,
#link-icon {
    width: 45px;
}

#email-icon {
    padding-top: 3px;
}

#git-icon {
    width: 50px;
    padding-top: 4px;
}

/* ------------------------ */




/* ------ Safe Stay CSS ------ */

#appLink {
    margin-top: 150px;
    font-family: Cresta;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    text-decoration: none;

    color: #777474;
}

#repoLink {
    margin-top: 50px;
    font-family: Cresta;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    text-decoration: none;

    color: #777474;
}

/* ------------------------ */




/* ------ Responsive CSS ------ */

@media only screen and (max-width: 320px) {
    
    .navbar-brand {
        font-size: 20px;
        width: 0%;
        right: 45%;
        top: 20px;
    }

    #projects-tab,
    #about-tab {  
        font-size: 15px;
    }
    
    #projects-tab {
        left: 7.5%;
        top: 30px
    }
    
    #about-tab {
        left: 80%;
        top: 30px
    } 

    hr {
        width: 90%;
        right: 5%;
        left: 5%;
        top: 80px;
    }

    #img {
        width: 280px;
        margin-left: 20px;
        margin-top: 20px;
    }

    #firstImg {
        margin-top: 100px;
    }

    #lastImg {
        margin-bottom: 20px;
    }
    




    
    .container {
        margin-top: 90px;
    }

    #hello-text {
        margin-top: -10px;
        margin-left: 5px;
    }
    
    #title-text {
        margin-top: -10px;
        margin-left: 5px;
    }
    
    p {
        margin-top: -30px;
        width: 280px;
        font-size: 15px;
        line-height: 28px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    #secondLine {
        top: 760px;
    }
    
    #skills {
        margin-top: 600px;
        font-size: 15px;
        margin-left: 5px;
    }
    
    #contact {
        margin-top: -20px;
        font-size: 15px;
        margin-left: 5px;
    }
    
    #skills-text {
        margin-top: 520px;
        margin-left: 5px;
    }
    
    #resume-text {
        font-size: 15px;
        margin-top: 610px;
        margin-left: 5px;
    }
    
    #contact-text {
        margin-top: -100px;
        margin-left: 5px;
    }

    .col-4 {
        margin-right: 5px;
        margin-left: 5px;
        width: 100%;
    }
    
    #profile-pic {
        margin-top: 150px;
        width: 280px;
        margin-bottom: 50px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    #icons {
        margin-top: 230px;
        margin-bottom: 20px;
    }
    
    #email-icon,
    #insta-icon,
    #link-icon {
        width: 35px;
    }
    
    #email-icon {
        padding-top: 3px;
    }
    
    #git-icon {
        width: 35px;
        padding-top: 4px;
    }
    
    .hvrbox .hvrbox-text {
        display: none; 
    }

    .short-text { 
        position: absolute;
	    top: 15px;
        left: 35px;

        font-size: 15px;
        line-height: 20px;
        font-family: Stolzl;
        font-style: normal;
        font-weight: 500;
    
        color: #777474; 

        display: inline-block; 
    }

    #appLink {
        margin-top: 60px;
        margin-left: 30px;
    }
    
    #repoLink {
        margin-top: 10px;
        margin-left: 30px;
    }

    #header-text {
        margin-top: -10px;
        margin-left: 5px;
        font-size: 17px;
    }
}